/* Global css*/

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: sans-serif;
  background-image: url("C:/Users/hasan/Desktop/Helsinki_business_college_task/React_margit/speedGame_react/src/assets/images/pexels-photo-399187.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

h1,
h4 {
  margin-bottom: 2rem;
  color: orange;
}
